/****** Object:  UserDefinedFunction [dbo].[versionToString]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[versionToString]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[versionToString]
GO
/****** Object:  UserDefinedFunction [dbo].[isGreaterVersion]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[isGreaterVersion]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[isGreaterVersion]
GO
/****** Object:  UserDefinedFunction [dbo].[isEqualVersion]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[isEqualVersion]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[isEqualVersion]
GO
/****** Object:  UserDefinedFunction [dbo].[getVersion]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getVersion]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
DROP FUNCTION [dbo].[getVersion]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_TRANSCODING_RULE]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UPDATE_TRANSCODING_RULE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[UPDATE_TRANSCODING_RULE]
GO
/****** Object:  StoredProcedure [dbo].[SPLIT_VERSION]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPLIT_VERSION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[SPLIT_VERSION]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_TRANSCODING_SCRIPT]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_TRANSCODING_SCRIPT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_TRANSCODING_SCRIPT]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_TRANSCODING]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_TRANSCODING]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_TRANSCODING]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_TEXT_FORMAT]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_TEXT_FORMAT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_TEXT_FORMAT]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_STRUCTURE_SET]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_STRUCTURE_SET]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_STRUCTURE_SET]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_STRUCTURE_MAP]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_STRUCTURE_MAP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_STRUCTURE_MAP]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ORGANISATION_UNIT_SCH]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ORGANISATION_UNIT_SCH]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_ORGANISATION_UNIT_SCH]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ORGANISATION_UNIT]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ORGANISATION_UNIT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_ORGANISATION_UNIT]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_LOCALISED_STRING]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_LOCALISED_STRING]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_LOCALISED_STRING]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_LOCAL_CODE]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_LOCAL_CODE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_LOCAL_CODE]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ITEM_ANNOTATION]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ITEM_ANNOTATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_ITEM_ANNOTATION]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ITEM]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ITEM]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_ITEM]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_HLEVEL]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_HLEVEL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_HLEVEL]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_HIERACHY]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_HIERACHY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_HIERACHY]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_HCL_CODE]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_HCL_CODE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_HCL_CODE]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_HCL]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_HCL]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_HCL]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_GROUP_ANNOTATION]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_GROUP_ANNOTATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_GROUP_ANNOTATION]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DSD_GROUP]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DSD_GROUP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_DSD_GROUP]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DSD_CODE]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DSD_CODE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_DSD_CODE]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DSD]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DSD]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_DSD]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DATAPROVIDER_SCHEME]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DATAPROVIDER_SCHEME]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_DATAPROVIDER_SCHEME]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DATAPROVIDER]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DATAPROVIDER]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_DATAPROVIDER]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DATAFLOW]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DATAFLOW]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_DATAFLOW]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DATACONSUMER_SCHEME]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DATACONSUMER_SCHEME]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_DATACONSUMER_SCHEME]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DATACONSUMER]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DATACONSUMER]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_DATACONSUMER]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CUBE_REGION_VALUE]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CUBE_REGION_VALUE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CUBE_REGION_VALUE]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CUBE_REGION_KEY_VALUE]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CUBE_REGION_KEY_VALUE]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CUBE_REGION_KEY_VALUE]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CUBE_REGION]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CUBE_REGION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CUBE_REGION]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CONTENT_CONSTRAINT]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CONTENT_CONSTRAINT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CONTENT_CONSTRAINT]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CONSTRAINT_ATTACHMENT]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CONSTRAINT_ATTACHMENT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CONSTRAINT_ATTACHMENT]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CONCEPT_SCHEME]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CONCEPT_SCHEME]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CONCEPT_SCHEME]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CONCEPT]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CONCEPT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CONCEPT]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_COMPONENT_MAP]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_COMPONENT_MAP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_COMPONENT_MAP]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_COMPONENT_ANNOTATION]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_COMPONENT_ANNOTATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_COMPONENT_ANNOTATION]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_COMPONENT]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_COMPONENT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_COMPONENT]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CODELIST_MAP]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CODELIST_MAP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CODELIST_MAP]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CODELIST]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CODELIST]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CODELIST]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CODE_MAP]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CODE_MAP]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CODE_MAP]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CATEGORY_SCHEME]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CATEGORY_SCHEME]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CATEGORY_SCHEME]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CATEGORY]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CATEGORY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CATEGORY]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CATEGORISATION]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CATEGORISATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_CATEGORISATION]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ARTEFACT_ANNOTATION]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ARTEFACT_ANNOTATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_ARTEFACT_ANNOTATION]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ARTEFACT]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ARTEFACT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_ARTEFACT]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ANNOTATION_TEXT]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ANNOTATION_TEXT]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_ANNOTATION_TEXT]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ANNOTATION]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ANNOTATION]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_ANNOTATION]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_AGENCY_SCHEME]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_AGENCY_SCHEME]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_AGENCY_SCHEME]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_AGENCY]    Script Date: 29/01/2016 15:36:49 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_AGENCY]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[INSERT_AGENCY]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_AGENCY]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_AGENCY]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_AGENCY]
	@p_id varchar(50), 
	@p_ag_sch_id bigint,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

		insert into ITEM (ID) VALUES (@p_id);
		set @p_pk = SCOPE_IDENTITY();
		insert into AGENCY (AG_ID, AG_SCH_ID) VALUES (@p_pk, @p_ag_sch_id);
	
		IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_AGENCY_SCHEME]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_AGENCY_SCHEME]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_AGENCY_SCHEME]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
    @p_is_partial bit = 0,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri, @p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
	INSERT INTO AGENCY_SCHEME
           (AG_SCH_ID, IS_PARTIAL)
     VALUES
           (@p_pk, @p_is_partial);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ANNOTATION]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ANNOTATION]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_ANNOTATION] 
	@p_id nvarchar(50),
	@p_title nvarchar(70),
	@p_type nvarchar(50),
	@p_url nvarchar(1000),
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION
	insert into ANNOTATION (ID, TITLE, TYPE, URL) VALUES (@p_id, @p_title, @p_type, @p_url);
	set @p_pk = SCOPE_IDENTITY();

    IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ANNOTATION_TEXT]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ANNOTATION_TEXT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_ANNOTATION_TEXT] 
	@p_ann_id bigint,
	@p_language varchar(50),
	@p_text nvarchar(4000),
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	insert into ANNOTATION_TEXT (ANN_ID, LANGUAGE, TEXT) VALUES (@p_ann_id, @p_language, @p_text);
	set @p_pk = SCOPE_IDENTITY();

IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ARTEFACT]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ARTEFACT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_ARTEFACT]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime = NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
	@p_pk bigint out
AS
BEGIN
		SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
    
    DECLARE	@p_version1 bigint,
		@p_version2 bigint,
		@p_version3 bigint;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

        exec SPLIT_VERSION @p_version = @p_version, @p_version1 = @p_version1 OUTPUT, @p_version2 = @p_version2 OUTPUT, @p_version3 = @p_version3 OUTPUT;
	    insert into  ARTEFACT (ID,VERSION1, VERSION2, VERSION3, AGENCY, VALID_FROM, VALID_TO, IS_FINAL, URI, LAST_MODIFIED) values (@p_id,@p_version1,@p_version2,@p_version3,@p_agency,@p_valid_from,@p_valid_to,@p_is_final,@p_uri,@p_last_modified);
	    set @p_pk=SCOPE_IDENTITY();
        IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ARTEFACT_ANNOTATION]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ARTEFACT_ANNOTATION]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_ARTEFACT_ANNOTATION] 
	@p_art_id bigint,
	@p_id nvarchar(50),
	@p_title nvarchar(70),
	@p_type nvarchar(50),
	@p_url nvarchar(1000),
	@p_pk bigint OUT
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ANNOTATION @p_id = @p_id, @p_title = @p_title, @p_type = @p_type, @p_url = @p_url, @p_pk = @p_pk OUTPUT;
	insert into ARTEFACT_ANNOTATION (ANN_ID, ART_ID) VALUES (@p_pk, @p_art_id);

IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CATEGORISATION]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CATEGORISATION]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_CATEGORISATION]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
	@p_art_id bigint,
    @p_cat_id bigint,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri=@p_uri,@p_last_modified=@p_last_modified,@p_pk = @p_pk OUTPUT;
	
INSERT INTO CATEGORISATION
           (CATN_ID
           ,ART_ID
           ,CAT_ID)
     VALUES
           (@p_pk
           ,@p_art_id
           ,@p_cat_id);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CATEGORY]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CATEGORY]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_CATEGORY]
	@p_id varchar(50), 
	@p_cat_sch_id bigint,
	@p_parent_cat_id bigint = null,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

		insert into ITEM (ID) VALUES (@p_id);
		set @p_pk = SCOPE_IDENTITY();
		insert into CATEGORY (CAT_ID, CAT_SCH_ID, PARENT_CAT_ID) VALUES (@p_pk, @p_cat_sch_id, @p_parent_cat_id);
	
		IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CATEGORY_SCHEME]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CATEGORY_SCHEME]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_CATEGORY_SCHEME]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
    @p_is_partial bit = 0,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri=@p_uri,@p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
	INSERT INTO CATEGORY_SCHEME
           (CAT_SCH_ID, IS_PARTIAL)
     VALUES
           (@p_pk, @p_is_partial);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CODE_MAP]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CODE_MAP]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_CODE_MAP]
	@p_clm_id bigint,
	@p_source_lcd_id bigint,
	@p_target_lcd_id bigint,
	@p_pk bigint OUT
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION
		insert into CODE_MAP (CLM_ID, SOURCE_LCD_ID, TARGET_LCD_ID) VALUES (@p_clm_id, @p_source_lcd_id, @p_target_lcd_id);
	    set @p_pk = SCOPE_IDENTITY();

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CODELIST]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CODELIST]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_CODELIST]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
    @p_is_partial bit = 0,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri,@p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
	INSERT INTO CODELIST
           (CL_ID, IS_PARTIAL)
     VALUES
           (@p_pk, @p_is_partial);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CODELIST_MAP]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CODELIST_MAP]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_CODELIST_MAP]
	@p_id varchar(50),
	@p_ss_id bigint,
	@p_source_cl_id bigint,
	@p_target_cl_id bigint,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION
		insert into ITEM (ID) VALUES (@p_id);
		set @p_pk = SCOPE_IDENTITY();
		insert into CODELIST_MAP (CLM_ID, SS_ID, SOURCE_CL_ID, TARGET_CL_ID) VALUES (@p_pk, @p_ss_id ,@p_source_cl_id, @p_target_cl_id);
	
	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_COMPONENT]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_COMPONENT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_COMPONENT]
	@p_type varchar(50) ,
    @p_id varchar(50)=NULL,
	@p_dsd_id bigint,
	@p_con_id bigint,
	@p_cl_id bigint=NULL,
	@p_con_sch_id bigint=NULL,
	@p_is_freq_dim int=NULL,
	@p_is_measure_dim int=NULL,
	@p_att_ass_level varchar(11)=NULL,
	@p_att_status varchar(11)=NULL,
	@p_att_is_time_format int=NULL,
	@p_xs_attlevel_ds int=NULL,
	@p_xs_attlevel_group int=NULL,
	@p_xs_attlevel_section int=NULL,
	@p_xs_attlevel_obs int=NULL,
	@p_xs_measure_code varchar(50)=NULL,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	insert into COMPONENT (TYPE, ID, DSD_ID, CON_ID, CL_ID, IS_FREQ_DIM, IS_MEASURE_DIM, ATT_ASS_LEVEL, ATT_STATUS, ATT_IS_TIME_FORMAT, XS_ATTLEVEL_DS, XS_ATTLEVEL_GROUP, XS_ATTLEVEL_SECTION, XS_ATTLEVEL_OBS, XS_MEASURE_CODE, CON_SCH_ID) 
		values (@p_type, @p_id, @p_dsd_id, @p_con_id, @p_cl_id, @p_is_freq_dim, @p_is_measure_dim, @p_att_ass_level, @p_att_status, @p_att_is_time_format, @p_xs_attlevel_ds, @p_xs_attlevel_group, @p_xs_attlevel_section, @p_xs_attlevel_obs, @p_xs_measure_code, @p_con_sch_id);
	set @p_pk = SCOPE_IDENTITY();
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_COMPONENT_ANNOTATION]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_COMPONENT_ANNOTATION]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_COMPONENT_ANNOTATION] 
	@p_comp_id bigint,
	@p_id nvarchar(50),
	@p_title nvarchar(70),
	@p_type nvarchar(50),
	@p_url nvarchar(1000),
	@p_pk bigint OUT
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION
	exec INSERT_ANNOTATION @p_id = @p_id, @p_title = @p_title, @p_type = @p_type, @p_url = @p_url, @p_pk = @p_pk OUTPUT;
	insert into COMPONENT_ANNOTATION (ANN_ID, COMP_ID) VALUES (@p_pk, @p_comp_id);

IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_COMPONENT_MAP]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_COMPONENT_MAP]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_COMPONENT_MAP]
	@p_sm_id bigint,
	@p_source_comp_id bigint,
	@p_target_comp_id bigint,
	@p_pk bigint OUT  
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION
		insert into COMPONENT_MAP (SM_ID, SOURCE_COMP_ID, TARGET_COMP_ID) VALUES (@p_sm_id, @p_source_comp_id, @p_target_comp_id);
		set @p_pk = SCOPE_IDENTITY();

    IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CONCEPT]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CONCEPT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_CONCEPT]
	@p_id varchar(50), 
	@p_con_sch_id bigint,
	@p_parent_con_id bigint,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

		insert into ITEM (ID) VALUES (@p_id);
		set @p_pk = SCOPE_IDENTITY();
		insert into CONCEPT (CON_ID, CON_SCH_ID,PARENT_CONCEPT_ID) VALUES (@p_pk, @p_con_sch_id,@p_parent_con_id);
	
		IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CONCEPT_SCHEME]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CONCEPT_SCHEME]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_CONCEPT_SCHEME]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
    @p_is_partial bit = 0,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri, @p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
	INSERT INTO CONCEPT_SCHEME
           (CON_SCH_ID, IS_PARTIAL)
     VALUES
           (@p_pk, @p_is_partial);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CONSTRAINT_ATTACHMENT]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CONSTRAINT_ATTACHMENT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_CONSTRAINT_ATTACHMENT]
       @p_art_id bigint,
       @p_cont_cons_id bigint
AS
BEGIN
       
       INSERT INTO CONTENT_CONSTRAINT_ATTACHMENT
           (CONT_CONS_ID, ART_ID)
     VALUES
           (@p_cont_cons_id, @p_art_id);
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CONTENT_CONSTRAINT]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CONTENT_CONSTRAINT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_CONTENT_CONSTRAINT]
       @p_id varchar(50),
       @p_version varchar(50),
       @p_agency varchar(50),
       @p_valid_from datetime = NULL,
       @p_valid_to datetime = NULL,
       @p_is_final bigint = NULL,
       @p_uri nvarchar(50),
       @p_last_modified  datetime = NULL,
       @p_actual_data bigint = 1,
       @p_periodicity varchar(50) = NULL,
       @p_offset varchar(50) = NULL,
       @p_tolerance varchar(50) = NULL,
       @p_pk bigint OUT
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION
	
	   exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri, @p_last_modified = @p_last_modified, @p_pk = @p_pk OUTPUT;

       INSERT INTO CONTENT_CONSTRAINT
           (CONT_CONS_ID, ACTUAL_DATA, PERIODICITY, OFFSET, TOLERANCE)
     VALUES
           (@p_pk, @p_actual_data, @p_periodicity, @p_offset, @p_tolerance);
IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CUBE_REGION]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CUBE_REGION]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_CUBE_REGION]
       @p_cont_cons_id bigint,
       @p_include bigint,
       @p_pk bigint OUT 
AS
BEGIN
       INSERT INTO CUBE_REGION
           (CONT_CONS_ID, INCLUDE)
     VALUES
           (@p_cont_cons_id, @p_include);
       set @p_pk = SCOPE_IDENTITY();

END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CUBE_REGION_KEY_VALUE]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CUBE_REGION_KEY_VALUE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_CUBE_REGION_KEY_VALUE](
	@p_cube_region_id bigint,
	@p_member_id varchar(50),
	@p_component_type varchar(50),
	@p_include bigint,
	@p_pk bigint OUT )
AS
BEGIN
	INSERT INTO CUBE_REGION_KEY_VALUE
           (CUBE_REGION_ID, MEMBER_ID, COMPONENT_TYPE, INCLUDE)
     VALUES
           (@p_cube_region_id, @p_member_id, @p_component_type, @p_include);
	       set @p_pk = SCOPE_IDENTITY();
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_CUBE_REGION_VALUE]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_CUBE_REGION_VALUE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_CUBE_REGION_VALUE](
	@p_cube_region_key_value_id bigint,
	@p_member_value varchar(50),
	@p_include bigint)
AS
BEGIN
	INSERT INTO CUBE_REGION_VALUE
           (CUBE_REGION_KEY_VALUE_ID, MEMBER_VALUE, INCLUDE)
     VALUES
           (@p_cube_region_key_value_id, @p_member_value, @p_include);
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DATACONSUMER]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DATACONSUMER]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_DATACONSUMER]
	@p_id varchar(50), 
	@p_datacons_sch_id bigint,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

		insert into ITEM (ID) VALUES (@p_id);
		set @p_pk = SCOPE_IDENTITY();
		insert into DATACONSUMER (DC_ID, DC_SCH_ID) VALUES (@p_pk, @p_datacons_sch_id);
	
		IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DATACONSUMER_SCHEME]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DATACONSUMER_SCHEME]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_DATACONSUMER_SCHEME]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
    @p_is_partial bit = 0,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri, @p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
	INSERT INTO DATACONSUMER_SCHEME
           (DC_SCH_ID, IS_PARTIAL)
     VALUES
           (@p_pk, @p_is_partial);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DATAFLOW]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DATAFLOW]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_DATAFLOW]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
	@p_dsd_id bigint,
    @p_map_set_id bigint = null,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri,@p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
INSERT INTO DATAFLOW
           (DF_ID
           ,DSD_ID
           ,MAP_SET_ID)
     VALUES
           (@p_pk
           ,@p_dsd_id
           ,@p_map_set_id);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DATAPROVIDER]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DATAPROVIDER]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_DATAPROVIDER]
	@p_id varchar(50), 
	@p_dataprov_sch_id bigint,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

		insert into ITEM (ID) VALUES (@p_id);
		set @p_pk = SCOPE_IDENTITY();
		insert into DATAPROVIDER (DP_ID, DP_SCH_ID) VALUES (@p_pk, @p_dataprov_sch_id);
	
		IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DATAPROVIDER_SCHEME]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DATAPROVIDER_SCHEME]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_DATAPROVIDER_SCHEME]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
    @p_is_partial bit = 0,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri, @p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
	INSERT INTO DATAPROVIDER_SCHEME
           (DP_SCH_ID, IS_PARTIAL)
     VALUES
           (@p_pk, @p_is_partial);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DSD]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DSD]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_DSD]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri,@p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
	INSERT INTO DSD
           (DSD_ID)
     VALUES
           (@p_pk);


	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DSD_CODE]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DSD_CODE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_DSD_CODE]
	@p_id varchar(50), 
	@p_cl_id bigint,
	@p_parent_code_id bigint = null,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

		insert into ITEM (ID) VALUES (@p_id);
		set @p_pk = SCOPE_IDENTITY();
		insert into DSD_CODE (LCD_ID, CL_ID, PARENT_CODE_ID) VALUES (@p_pk, @p_cl_id, @p_parent_code_id);
	
		IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_DSD_GROUP]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_DSD_GROUP]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_DSD_GROUP]
	@p_id varchar(50) ,
	@p_dsd_id bigint ,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	insert into DSD_GROUP (ID, DSD_ID) 
		values (@p_id, @p_dsd_id);
	set @p_pk = SCOPE_IDENTITY();
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_GROUP_ANNOTATION]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_GROUP_ANNOTATION]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_GROUP_ANNOTATION] 
	@p_gr_id bigint,
	@p_id nvarchar(50),
	@p_title nvarchar(70),
	@p_type nvarchar(50),
	@p_url nvarchar(1000),
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ANNOTATION @p_id = @p_id, @p_title = @p_title, @p_type = @p_type, @p_url = @p_url, @p_pk = @p_pk OUTPUT;
	insert into GROUP_ANNOTATION (ANN_ID, GR_ID) VALUES (@p_pk, @p_gr_id);

IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_HCL]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_HCL]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_HCL]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri, @p_last_modified = @p_last_modified, @p_pk = @p_pk OUTPUT;
	insert into HCL (HCL_ID) values(@p_pk);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_HCL_CODE]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_HCL_CODE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_HCL_CODE]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
	@p_parent_hcode_id bigint = null,
	@p_lcd_id bigint,
	@p_h_id bigint,
	@p_level_id bigint = null,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri,@p_last_modified = @p_last_modified, @p_pk = @p_pk OUTPUT;
	
	INSERT INTO HCL_CODE
           (HCODE_ID
           ,PARENT_HCODE_ID
           ,LCD_ID
           ,H_ID
           ,LEVEL_ID)
	VALUES
		(@p_pk
        ,@p_parent_hcode_id
        ,@p_lcd_id
        ,@p_h_id
         ,@p_level_id);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_HIERACHY]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_HIERACHY]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_HIERACHY]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
	@p_hcl_id bigint,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final, @p_uri = @p_uri,@p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
	INSERT INTO HIERARCHY
           (H_ID
           ,HCL_ID)
     VALUES
           (@p_pk
           ,@p_hcl_id);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_HLEVEL]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_HLEVEL]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_HLEVEL]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
	@p_h_id bigint,
	@p_parent_level_id bigint = null,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri,@p_last_modified = @p_last_modified, @p_pk = @p_pk OUTPUT;
	
	INSERT INTO HLEVEL
           (LEVEL_ID
           ,H_ID
           ,PARENT_LEVEL_ID)
     VALUES
           (@p_pk
           ,@p_h_id
           ,@p_parent_level_id);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ITEM]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ITEM]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_ITEM]
	@p_id varchar(50),
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	insert into ITEM (ID) values (@p_id);
	set @p_pk=SCOPE_IDENTITY();
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ITEM_ANNOTATION]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ITEM_ANNOTATION]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_ITEM_ANNOTATION] 
	@p_item_id bigint,
	@p_id nvarchar(50),
	@p_title nvarchar(70),
	@p_type nvarchar(50),
	@p_url nvarchar(1000),
	@p_pk bigint OUT
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ANNOTATION @p_id = @p_id, @p_title = @p_title, @p_type = @p_type, @p_url = @p_url, @p_pk = @p_pk OUTPUT;
	insert into ITEM_ANNOTATION (ANN_ID, ITEM_ID) VALUES (@p_pk, @p_item_id);

IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_LOCAL_CODE]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_LOCAL_CODE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_LOCAL_CODE]
	@p_id varchar(50), 
	@p_column_id bigint,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

		insert into ITEM (ID) VALUES (@p_id);
		set @p_pk = SCOPE_IDENTITY();
		insert into LOCAL_CODE (LCD_ID, COLUMN_ID) VALUES (@p_pk, @p_column_id);
	
		IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_LOCALISED_STRING]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_LOCALISED_STRING]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE PROCEDURE [dbo].[INSERT_LOCALISED_STRING]
	@p_item_id bigint = null,
	@p_art_id bigInt = null,
	@p_text nvarchar(4000),
	@p_type varchar(10),
	@p_language varchar(50),
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	insert into LOCALISED_STRING (ART_ID, ITEM_ID, TEXT, TYPE, LANGUAGE) values (@p_art_id, @p_item_id, @p_text, @p_type, @p_language);
	set @p_pk = SCOPE_IDENTITY();
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ORGANISATION_UNIT]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ORGANISATION_UNIT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_ORGANISATION_UNIT]
	@p_id varchar(50), 
	@p_org_unit_sch_id bigint,
	@p_parent_org_unit_id bigint,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

		insert into ITEM (ID) VALUES (@p_id);
		set @p_pk = SCOPE_IDENTITY();
		insert into ORGANISATION_UNIT (ORG_UNIT_ID, ORG_UNIT_SCH_ID, PARENT_ORG_UNIT_ID) VALUES (@p_pk,  @p_org_unit_sch_id,@p_parent_org_unit_id);
	
		IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ORGANISATION_UNIT_SCH]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_ORGANISATION_UNIT_SCH]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_ORGANISATION_UNIT_SCH]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
    @p_is_partial bit = 0,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri, @p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
	INSERT INTO ORGANISATION_UNIT_SCHEME
           (ORG_UNIT_SCH_ID, IS_PARTIAL)
     VALUES
           (@p_pk, @p_is_partial);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_STRUCTURE_MAP]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_STRUCTURE_MAP]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_STRUCTURE_MAP]
	@p_id varchar(50),
	@p_ss_id bigint,
	@p_source_str_id bigint,
	@p_target_str_id bigint,
	@p_pk bigint OUT 
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION
		insert into ITEM (ID) VALUES (@p_id);
		set @p_pk = SCOPE_IDENTITY();
		insert into STRUCTURE_MAP (SM_ID, SS_ID, SOURCE_STR_ID, TARGET_STR_ID) VALUES (@p_pk, @p_ss_id ,@p_source_str_id, @p_target_str_id);
	
	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_STRUCTURE_SET]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_STRUCTURE_SET]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE PROCEDURE [dbo].[INSERT_STRUCTURE_SET]
	@p_id varchar(50),
	@p_version varchar(50),
	@p_agency varchar(50),
	@p_valid_from datetime = NULL,
	@p_valid_to datetime= NULL,
	@p_is_final int = NULL,
	@p_uri nvarchar(255),
	@p_last_modified datetime = NULL,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

	exec INSERT_ARTEFACT @p_id = @p_id,@p_version = @p_version,@p_agency = @p_agency,@p_valid_from = @p_valid_from,@p_valid_to = @p_valid_to,@p_is_final = @p_is_final,@p_uri = @p_uri, @p_last_modified = @p_last_modified,@p_pk = @p_pk OUTPUT;
	
	INSERT INTO STRUCTURE_SET
           (SS_ID)
     VALUES
           (@p_pk);

	IF @starttrancount = 0 
	        COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );
	END CATCH
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_TEXT_FORMAT]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_TEXT_FORMAT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

-- STORED PROCECURES
CREATE PROCEDURE [dbo].[INSERT_TEXT_FORMAT]
	@p_compid bigint, 
	@p_facet_type_enum bigint, 
	@p_facet_value varchar(51) = null,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	insert into TEXT_FORMAT (COMP_ID, FACET_TYPE_ENUM, FACET_VALUE) values (@p_compid, @p_facet_type_enum, @p_facet_value);
	set @p_pk = SCOPE_IDENTITY();
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_TRANSCODING]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_TRANSCODING]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_TRANSCODING]
	@p_map_id bigint, 
	@p_expression varchar(150) = null,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	insert into TRANSCODING (MAP_ID, EXPRESSION) values (@p_map_id,@p_expression);
	set @p_pk = SCOPE_IDENTITY();
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_TRANSCODING_SCRIPT]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[INSERT_TRANSCODING_SCRIPT]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[INSERT_TRANSCODING_SCRIPT]
	@p_tr_id bigint, 
	@p_title varchar(128),
	@p_content text,
	@p_pk bigint out
AS
BEGIN
	SET NOCOUNT ON;
	insert into TRANSCODING_SCRIPT (TR_ID, SCRIPT_TITLE, SCRIPT_CONTENT) values (@p_tr_id, @p_title, @p_content);
	set @p_pk=SCOPE_IDENTITY();
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[SPLIT_VERSION]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SPLIT_VERSION]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[SPLIT_VERSION](
@p_version varchar(50), 
@p_version1 bigint out, 
@p_version2 bigint out,
@p_version3 bigint out)
AS
BEGIN
declare @point1 int;
declare @point2 int;
declare @l int;
set @p_version1 = dbo.getVersion(@p_version, 1);
set @p_version2 = dbo.getVersion(@p_version, 2);
set @p_version3 = dbo.getVersion(@p_version, 3);
if @p_version1 is null
   set @p_version1 = 0;
    
if @p_version2 is null
   set @p_version2 = 0;
END' 
END
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_TRANSCODING_RULE]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UPDATE_TRANSCODING_RULE]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[UPDATE_TRANSCODING_RULE]
	-- Add the parameters for the stored procedure here 
	@p_tr_id bigint,
	@p_tr_rule_id bigint,
	@p_lcd_id bigint,
	@p_cd_id bigint,
	@p_pk bigint OUT 
AS
BEGIN
	
	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE @starttrancount int;
	SET @starttrancount = @@TRANCOUNT;
	BEGIN TRY
		IF @starttrancount = 0 
			BEGIN TRANSACTION

		-- Insert statements for procedure here
		if @p_tr_rule_id is null
		begin
			insert into TRANSCODING_RULE (TR_ID) values (@p_tr_id);
			set @p_pk = SCOPE_IDENTITY();
		end
		else
		begin
			-- clean up
			delete from TRANSCODING_RULE_DSD_CODE where TR_RULE_ID = @p_tr_rule_id;
			delete from TRANSCODING_RULE_LOCAL_CODE where TR_RULE_ID = @p_tr_rule_id;
			set @p_pk = @p_tr_rule_id
		end
		
		insert into TRANSCODING_RULE_DSD_CODE (TR_RULE_ID, CD_ID) VALUES (@p_pk, @p_cd_id);
		insert into TRANSCODING_RULE_LOCAL_CODE (TR_RULE_ID, LCD_ID) VALUES (@p_pk, @p_lcd_id);
		
		IF @starttrancount = 0 
			COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		DECLARE @ErrorMessage NVARCHAR(4000);
		DECLARE @ErrorSeverity INT;
		DECLARE @ErrorState INT;

		SELECT 
			@ErrorMessage = ERROR_MESSAGE(),
			@ErrorSeverity = ERROR_SEVERITY(),
			@ErrorState = ERROR_STATE();
		IF XACT_STATE() <> 0 AND @starttrancount = 0 
			ROLLBACK TRANSACTION
	   RAISERROR (@ErrorMessage, -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState -- State.
				   );	
	END CATCH
END' 
END
GO
/****** Object:  UserDefinedFunction [dbo].[getVersion]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[getVersion]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'create function [dbo].[getVersion] (@p_version varchar(50), @particle int)
RETURNS bigint
begin
declare @point int;
declare @currentParticle int;
declare @returnValue varchar(50);
set @point = charindex(''.'', @p_version);
set @currentParticle = 0;
set @returnValue = null;

if @point = 0 and len(@p_version) > 0 and @particle = 1
begin
    set @returnValue = @p_version;
end;

while @returnValue is null and @point > 0
begin
    SET @currentParticle = @currentParticle + 1;
		if @currentParticle = @particle
			set @returnValue = substring(@p_version,1,@point-1);
		else
        begin
			set @point = charindex(''.'', @p_version);
			set @p_version = substring(@p_version, @point + 1,100);
		end;
end;

return cast(@returnValue as bigint);
end' 
END

GO
/****** Object:  UserDefinedFunction [dbo].[isEqualVersion]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[isEqualVersion]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'create function [dbo].[isEqualVersion](@x1 bigint, @y1 bigint, @z1 bigint, @x2 bigint, @y2 bigint, @z2 bigint)
RETURNS BIT
begin
    declare @returnValue bit;
    set @returnValue = 0;
    if @x1 is null
		set @x1 = 0;
	if @x2 is null
		set @x2 = 0;
	if @y1 is null
		set @y1 = 0;
	if @y2 is null
		set @y2 = 0;
    if ( @x1 = @x2 ) and ( @y1 = @y2 ) and (((@z1 is null) and (@z2 is null)) or (((@z1 is not null) and (@z2 is not null)) and ( @z1 = @z2 )))
        set @returnValue = 1;
    
    return @returnValue;
end' 
END

GO
/****** Object:  UserDefinedFunction [dbo].[isGreaterVersion]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[isGreaterVersion]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'create function [dbo].[isGreaterVersion](@x1 bigint, @y1 bigint, @z1 bigint, @x2 bigint, @y2 bigint, @z2 bigint)
RETURNS BIT
begin
    declare @returnValue bit;
    set @returnValue = 0;
    if @x1 is null
		set @x1 = 0;
	if @x2 is null
		set @x2 = 0;
	if @y1 is null
		set @y1 = 0;
	if @y2 is null
		set @y2 = 0;
    if ( @x1 > @x2 ) or  ( ( @x1 = @x2 ) and( ( @y1 > @y2 ) or( ( @y1 = @y2 ) and ( (@z1 is not null) and ( (@z2 is null) or (@z1 > @z2) ) ) ) ) )
        set @returnValue = 1;
    
    return @returnValue;
end' 
END

GO
/****** Object:  UserDefinedFunction [dbo].[versionToString]    Script Date: 29/01/2016 15:36:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[versionToString]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'create function [dbo].[versionToString](@particle1 bigint, @particle2 bigint, @particle3 bigint) 
RETURNS varchar(50)
BEGIN
	declare @version varchar(50);
	if @particle1 is null
		set @particle1 = 0;

	if @particle2 is null
		set @particle2 = 0;
	
	if @particle3 is null
		set @version = cast(@particle1 as varchar) +''.'' + cast(@particle2 as varchar);
	else
		set @version = cast(@particle1 as varchar) + ''.'' + cast(@particle2 as varchar) + ''.'' + cast(@particle3 as varchar);

	return @version;
END' 
END

GO


DECLARE @RC int
DECLARE @p_id varchar(50)
DECLARE @p_version varchar(50)
DECLARE @p_agency varchar(50)
DECLARE @p_valid_from datetime
DECLARE @p_valid_to datetime
DECLARE @p_is_final int
DECLARE @p_uri nvarchar(255)
DECLARE @p_last_modified datetime
DECLARE @p_is_partial bit
DECLARE @p_pk bigint

SELECT  @p_id = 'SDMX_M_PERIODS'
	  ,@p_version = '1.0'
	  ,@p_agency = 'MA'
	  ,@p_valid_from = null
	  ,@p_valid_to = null
	  ,@p_is_final = null
	  ,@p_uri = null
	  ,@p_last_modified = GETDATE()
	  ,@p_is_partial = 0

EXECUTE @RC = [dbo].[INSERT_CODELIST] 
   @p_id
  ,@p_version
  ,@p_agency
  ,@p_valid_from
  ,@p_valid_to
  ,@p_is_final
  ,@p_uri
  ,@p_last_modified
  ,@p_is_partial
  ,@p_pk OUTPUT

SELECT  @p_id = 'SDMX_Q_PERIODS'
	  ,@p_version = '1.0'
	  ,@p_agency = 'MA'
	  ,@p_valid_from = null
	  ,@p_valid_to = null
	  ,@p_is_final = null
	  ,@p_uri = null
	  ,@p_last_modified = GETDATE()
	  ,@p_is_partial = 0

EXECUTE @RC = [dbo].[INSERT_CODELIST] 
   @p_id
  ,@p_version
  ,@p_agency
  ,@p_valid_from
  ,@p_valid_to
  ,@p_is_final
  ,@p_uri
  ,@p_last_modified
  ,@p_is_partial
  ,@p_pk OUTPUT

SELECT  @p_id = 'SDMX_S_PERIODS'
	  ,@p_version = '1.0'
	  ,@p_agency = 'MA'
	  ,@p_valid_from = null
	  ,@p_valid_to = null
	  ,@p_is_final = null
	  ,@p_uri = null
	  ,@p_last_modified = GETDATE()
	  ,@p_is_partial = 0

EXECUTE @RC = [dbo].[INSERT_CODELIST] 
   @p_id
  ,@p_version
  ,@p_agency
  ,@p_valid_from
  ,@p_valid_to
  ,@p_is_final
  ,@p_uri
  ,@p_last_modified
  ,@p_is_partial
  ,@p_pk OUTPUT
GO






