<?xml version="1.0" encoding="utf-8"?>

<!--
  Per ulteriori informazioni su come configurare l'applicazione ASP.NET, visitare il sito Web all'indirizzo
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation targetFramework="4.0" />
    </system.web>
  <connectionStrings>

    <add name="ISTAT_REGISTRY_DB" connectionString="Data Source=(local);Initial Catalog=DBForExport;Integrated Security=False;User ID=mauser;Password=mauser"/>

  </connectionStrings>
</configuration>
