<?xml version="1.0"?>
<configuration>
  <!-- EXPORT DOTSTAT BEGIN -->
  <configSections>
    <sectionGroup name="ExportDotStatSettingsGroup">
      <section name="ContactSection" type="ISTAT.EXPORT.Settings.ContactSettingsHandler, ISTAT.EXPORT, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
      <section name="SecuritySection" type="ISTAT.EXPORT.Settings.SecuritySettingsHandler, ISTAT.EXPORT, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>
    <sectionGroup name="categoryViewConfigurationGroup">
      <section name="categoryViewConfiguration" type="ISTATRegistry.CategoryViewConfigurationSection"/>
    </sectionGroup>
    <!--<section name="EndPoints" type="System.Configuration.AppSettingsSection" />-->
    <section name="AnnotationTypes" type="System.Configuration.AppSettingsSection"/>
    <section name="AnnotationValues" type="System.Configuration.AppSettingsSection"/>
    <section name="EndPointSection" type="ISTATRegistry.EndPointRetrieverSection"/>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="ISTATRegistry.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <!-- INFORMAZIONI HEADER ESPORTAZIONE FORMATO DOTSTAT -->
  <ExportDotStatSettingsGroup>
    <ContactSection Name="alcardac" Direction="PSS -  Servizio Patrimonio informativo e sviluppo di prodotti" Email="alcardac@istat.it"/>
    <SecuritySection UserGroup="ANBRUNI" Domain="PCISTAT"/>
  </ExportDotStatSettingsGroup>
  <!-- EXPORT DOTSTAT END -->
  <categoryViewConfigurationGroup>
    <categoryViewConfiguration wsEndPoint="http://avana2012/WS_MAPPINGREPORT/SdmxService" enableCategoryDropDownList="true">
      <!--<defaultCategoryScheme id="DSW_1" agency="ESTAT" version="1.3"/>-->
      <artefactFilterList enableCodelist="true" enableDataFlow="true" enableDsd="true" enableConceptScheme="true"/>
    </categoryViewConfiguration>
  </categoryViewConfigurationGroup>
  <EndPointSection>
    <EndPoints>
	<add
          Name="WS_PRINC"
          NSIEndPoint="http://shnodo2/ws_princ/SdmxService"
		  IREndPoint="http://localhost/40_IRSERVICE_NEW/IRService.asmx"
          PartialArtefact="false"
          EnableAuthentication="true"
          EnableAnnotationSuggest="true"
          EnableAdministration="false"
          GetUsersFromFile="true"
          UsersFilePath=".\UserFiles\ws_istat.xml"
        />
	<add
          Name="WS_OTF"
          NSIEndPoint="http://localhost/40_OTF_WS/SoapSdmx21"
		  IREndPoint="http://localhost/40_IRSERVICE_NEW/IRService.asmx"
          PartialArtefact="false"
          EnableAuthentication="false"
          EnableAnnotationSuggest="true"
          EnableAdministration="false"
          GetUsersFromFile="true"
          UsersFilePath=".\UserFiles\ws_istat.xml"
        />

	<add
          Name="ws_istat"
          NSIEndPoint="http://localhost/40_NSIWS_ISTAT_NEW/SdmxService"
		  IREndPoint="http://localhost/40_IRSERVICE_NEW/IRService.asmx"
          PartialArtefact="false"
          EnableAuthentication="true"
          EnableAnnotationSuggest="true"
          EnableAdministration="true"
          GetUsersFromFile="true"
          UsersFilePath=".\UserFiles\ws_istat.xml"
        />

      <add
          Name="ws_istat_locale"
          NSIEndPoint="http://localhost/WSNSIIStat/SdmxService"
          PartialArtefact="false"
          EnableAuthentication="true"
          EnableAnnotationSuggest="true"
          EnableAdministration="true"
          GetUsersFromFile="true"
          UsersFilePath=".\UserFiles\ws_istat.xml"
        />
        
       <!--
	  <add Name="ws_istat_locale" NSIEndPoint="http://localhost/WSNSIIStat/SdmxService" PartialArtefact="false" EnableAuthentication="true" EnableAnnotationSuggest="true" EnableAdministration="true" GetUsersFromFile="true" UsersFilePath=".\UserFiles\ws_istat.xml"/>
      <add Name="ws_istat2" NSIEndPoint="http://localhost:53974/SdmxService" IREndPoint="http://localhost:2631/IRService.asmx" PartialArtefact="false" EnableAuthentication="true" EnableAnnotationSuggest="false" EnableAdministration="true" GetUsersFromFile="false" UsersFilePath=".\UserFiles\ws_istat2.xml"/>
      <add Name="ws_eurostat" NSIEndPoint="http://avana/SDMXWS/SdmxService" PartialArtefact="true" EnableAuthentication="true" EnableAnnotationSuggest="false" EnableAdministration="false" GetUsersFromFile="true" UsersFilePath=".\UserFiles\ws_istat2.xml"/>
      <add Name="ws_eurostat_locale" NSIEndPoint="http://localhost/WSNSIEruostat/SdmxService" PartialArtefact="true" EnableAuthentication="true" EnableAnnotationSuggest="false" EnableAdministration="false" GetUsersFromFile="true" UsersFilePath=".\UserFiles\ws_istat2.xml"/>
      <add Name="ws_eurostat_prod" NSIEndPoint="http://sdmx.istat.it/SDMXWS/SdmxService" IREndPoint="http://localhost:2631/IRService.asmx" PartialArtefact="false" EnableAuthentication="false" EnableAnnotationSuggest="false" EnableAdministration="false" GetUsersFromFile="true" UsersFilePath=".\UserFiles\ws_istat2.xml"/>
      <add
    Name="ws_eurostat"
    NSIEndPoint="http://localhost:49385/SdmxService"
    IREndPoint="http://localhost:2631/IRService.asmx"
    PartialArtefact="true"
    EnableAuthentication="false"
    EnableAnnotationSuggest="false"
    EnableAdministration="false"
    GetUsersFromFile="true"
    UsersFilePath=".\UserFiles\ws_eurostat.xml"
        />-->
    </EndPoints>
  </EndPointSection>
  <AnnotationTypes>
    <add key="template1" value="asdfasdfasdf1"/>
    <add key="template2" value="qwerqwerqwer2"/>
    <add key="template3" value="zxcvzxcvzxcv3"/>
    <add key="template4" value="wrgnbwrgnbwg4"/>
  </AnnotationTypes>
  <AnnotationValues>
    <add key="templateValue1" value="asdfasdfasdf1"/>
    <add key="templateValue2" value="qwerqwerqwer2"/>
    <add key="templateValue3" value="zxcvzxcvzxcv3"/>
    <add key="templateValue4" value="wrgnbwrgnbwg4"/>
  </AnnotationValues>
  <system.web>
    <globalization culture="it" uiCulture="it"/>
    <pages maintainScrollPositionOnPostBack="true"/>
    <compilation targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime executionTimeout="240000" maxRequestLength="2147483647" requestLengthDiskThreshold="2147483647"/>
    <sessionState timeout="25"/>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <!-- FlyCallWS Configuration -->
    <add key="EndPoint20" value="SoapSdmx20"/>
    <add key="EndPoint21" value="SoapSdmx21"/>
    <add key="Prefix" value="web"/>
    <add key="EnableHTTPAuthenication" value="false"/>
    <add key="Domain" value=""/>
    <add key="Username" value=""/>
    <add key="Password" value=""/>
    <add key="EnableProxy" value="false"/>
    <add key="UseSystemProxy" value="false"/>
    <add key="ProxyServer" value=""/>
    <add key="ProxyServerPort" value="0"/>
    <add key="ProxyUsername" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="MaxOutputFileLength" value="31457280"/>
    <!-- End FlyCallWS Configuration -->
    <add key="ViewMode" value="true"/>
    <add key="GeneralCodelistGridNumberRow" value="10"/>
    <add key="DetailsCodelistGridNumberRow" value="10"/>
    <add key="GeneralConceptschemeGridNumberRow" value="10"/>
    <add key="DetailsConceptschemeGridNumberRow" value="10"/>
    <add key="GeneralKeyFamilyGridNumberRow" value="10"/>
    <add key="GeneralCategoryschemeGridNumberRow" value="10"/>
    <add key="GeneralDataflowGridNumberRow" value="10"/>
    <add key="GeneralCategorizationGridNumberRow" value="10"/>
    <add key="GeneralAgencySchemeGridNumberRow" value="10"/>
    <add key="DetailsAgencyschemeGridNumberRow" value="10"/>
    <add key="GeneralDataProviderSchemeGridNumberRow" value="10"/>
    <add key="DetailsDataProviderSchemeGridNumberRow" value="10"/>
    <add key="GeneralDataConsumerSchemeGridNumberRow" value="10"/>
    <add key="DetailsDataConsumerSchemeGridNumberRow" value="10"/>
    <add key="GeneralOrganizationUnitSchemeGridNumberRow" value="10"/>
    <add key="DetailsOrganizationUnitSchemeGridNumberRow" value="10"/>
    <add key="GeneralContentConstraintNumberRow" value="10"/>
    <add key="GeneralStructureSetNumberRow" value="10"/>
    <add key="DefaultLanguageForResources" value="it"/>
    <add key="LanguagesFilePath" value=".\UserFiles\Languages.xml"/>
  </appSettings>
</configuration>